services:
  backend:
    build: ./backend
    ports:
      - '3000:3000'
    env_file:
      - ./backend/.env
    environment:
      - AWS_REGION=eu-west-1
      - NODE_ENV=production
    restart: always
    volumes:
      - ./backend:/app
      - /app/node_modules

  chat-service:
    build: ./chat-service
    ports:
      - '7777:7777'
    env_file:
      - ./chat-service/.env
    environment:
      - NODE_ENV=production
    restart: always
    volumes:
      - ./chat-service:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - '80:80'
    restart: always
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_BACKEND_URL=http://backend:3000
