global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'backend'
    static_configs:
      - targets: ['backend:3000']

  - job_name: 'chat-service'
    static_configs:
      - targets: ['chat-service:7777']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
