---
- name: Deploy Dev Tinder App
  hosts: all
  become: yes
  vars:
    app_dir: "/home/ubuntu/app"

  tasks:
    - name: Ensure app directory exists
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: ubuntu
        group: ubuntu

    - name: Copy Docker Compose file
      copy:
        src: ../docker-compose.yml
        dest: "{{ app_dir }}/docker-compose.yml"
        owner: ubuntu
        group: ubuntu

    - name: Copy Monitoring Configurations
      copy:
        src: ../monitoring/
        dest: "{{ app_dir }}/monitoring/"
        owner: ubuntu
        group: ubuntu

    - name: Login to GitHub Container Registry
      docker_login:
        registry_url: ghcr.io
        username: "{{ gh_user }}"
        password: "{{ gh_token }}"
      become_user: ubuntu

    - name: Pull latest images
      command: docker compose pull
      args:
        chdir: "{{ app_dir }}"
      become_user: ubuntu

    - name: Start Docker Compose
      command: docker compose up -d
      args:
        chdir: "{{ app_dir }}"
      become_user: ubuntu
